{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>Mas Menu</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
      <div class="search">
        <p>Buscador:</p>
        <input type="text" id="searchBar" onkeyup="searchBar()" placeholder="Nombre del restaurant o descricion" title="Type in a name">
      </div>
      <ul class="list" id="listToSearch">
        {% for restaurant in restaurants %}
          <li class="restaurant">
            <a href="/restaurant/{{restaurant.name}}" class="restaurant-link">
              <div class="focus">
                <p>{{restaurant.name}}</p>
                <p>{{restaurant.description}}</p>
              </div>
              <img src="{{restaurant.image.url}}" class="logo">
            </a>
          </li>
        {% endfor %}
      </ul>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    </body>
</html>
