{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>{{restaurant.name}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
    	<ul id="navbar" class="navbar">
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'home' %}"><img src="/static/images/uruguay.png" alt="uy" class="navbar-img"> Inicio</a></li>
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'store' restaurant.name %}"><img src="/static/images/menu.png" alt="menu" class="navbar-img"> Pedir {% if order.get_cart_items > 0 %}mas!{% else %} algo!{% endif %}</a></li>
        {% if order.get_cart_items > 0 %}
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'cart' restaurant.name %}"><img src="/static/images/cart.png" alt="cart" class="cart-nav-img"></a></li>
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'checkout' restaurant.name %}"><img src="/static/images/order.svg" alt="order" class="navbar-img"> Realizar Pedido</a></li>

        {% endif %}
        {% if request.user.is_authenticated %}
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'orders_customer' request.user.email %}"><img src="/static/images/list.svg" alt="list" class="navbar-img">Mis pedidos</a></li>
        {% else %}
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'login' %}"><img src="/static/images/login.png" alt="login" class="navbar-img">Entrar en mi cuenta</a></li>
        {% endif %}
        <div id="close-navbar">
          <div class="close-img-container">
            <img src="/static/images/closer.png" alt="close" class="close-img">
          </div>
        </div>
      </ul>


        <script>
        //get user
          let user = '{{request.user}}'
          //get restaurant
          let restaurant = '{{restaurant.name}}'
          //get restaurant contact
          let restaurantContact = '{{restaurant.contact}}'

          //get token
          function getToken(name) {
      		    let cookieValue = null;
      		    if (document.cookie && document.cookie !== '') {
      		        let cookies = document.cookie.split(';');
      		        for (let i = 0; i < cookies.length; i++) {
      		            let cookie = cookies[i].trim();
      		            // Does this cookie string begin with the name we want?
      		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
      		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
      		                break;
      		            }
      		        }
      		    }
      		    return cookieValue;
      		}
      		let csrftoken = getToken('csrftoken')

          function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            let cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for(let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if(name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }
        let cart = JSON.parse(getCookie('cart'))

        if (cart == undefined){
        	cart = {}
        	console.log('Cart Created!', cart)
        	document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)


        </script>
        <section id="store">
            {% block content %}
            {% endblock content %}
        </section>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    </body>
</html>
