{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>{{restaurant.name}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
    	<ul class="navbar">
        <li class="cart"><a href="{% url 'cart' restaurant.name %}" class="cart-container"><img src="/static/images/cart.png" alt="cart" class="cart-img"> {% if order.get_cart_items > 0 %}<p>{{order.get_cart_items}}</p>{% endif %}</a></li>
        <li><a href="{% url 'store' restaurant.name %}">Pedir {% if order.get_cart_items > 0 %}mas!{% endif %}</a></li>
        {% if order.get_cart_items > 0 %}<li><a href="{% url 'checkout' restaurant.name %}">Realizar Pedido</a></li>{% endif %}
      </ul>

        <script>
        //get user
          let user = '{{request.user}}'
          //get restaurant
          let restaurant = '{{restaurant.name}}'
          //get restaurant contact
          let restaurantContact = '{{restaurant.contact}}'

          //get token
          function getToken(name) {
      		    let cookieValue = null;
      		    if (document.cookie && document.cookie !== '') {
      		        let cookies = document.cookie.split(';');
      		        for (let i = 0; i < cookies.length; i++) {
      		            let cookie = cookies[i].trim();
      		            // Does this cookie string begin with the name we want?
      		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
      		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
      		                break;
      		            }
      		        }
      		    }
      		    return cookieValue;
      		}
      		let csrftoken = getToken('csrftoken')

          function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            let cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for(let i = 0; i < cookieArr.length; i++) {
                let cookiePair = cookieArr[i].split("=");

                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if(name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            // Return null if not found
            return null;
        }
        let cart = JSON.parse(getCookie('cart'))

        if (cart == undefined){
        	cart = {}
        	console.log('Cart Created!', cart)
        	document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)


        </script>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
