{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div>
		{% for product in products %}
		<div>
			<div>
				<h6>{{product.name}}</h6>
				<button data-product="{{product.id}}" data-action="add" class="add-btn update-cart">Add to Cart</button>
				<a href="#">View</a>
				<h4>{{product.price}}</h4>
				<img src="{{product.image.url}}" alt="{{product.name}}">
			</div>
		</div>
		{% endfor %}
		<a href="{% url 'cart' restaurant.name %}">Go to Cart</a>
	</div>

{% endblock content %}
