{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div>
		<div class="search">
			<input type="text" id="searchBar" onkeyup="searchBar()" placeholder="Que vamos a pedir en {{restaurant.name}}?" title="Type in a name">
		</div>
		<ul class="list" id="listToSearch">
			{% for product in products %}
			<li>
				<div class="card">
					<div class="card-image">
						<img src="{{product.image.url}}" alt="{{product.name}}" >
					</div>

					<h3 class="card-title">{{product.name}}</h3>
					<div class="card-detail">
						<p>{{product.description}}</p>
						<h4>UYU {{product.price}}</h4>
					</div>
					<button data-product="{{product.id}}" data-action="add" class="add-btn update-cart">Adicionar</button>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock content %}
