{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>Mis pedidos</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
    </head>
    <body>
      {% block content %}
      {% endblock content %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    {% if message %}
    message = '{{message}}'
      Swal.fire(
        'Alerta!',
        message,
        'warning'
      )
    {% endif %}
    </script>

    </body>
</html>
