{% extends 'orders/main.html' %}
{% load static %}

{% block content %}
<div class="order-detail">


    <h2 class="order-detail-number">Numero de pedido en el restaurante {{order.get_items.0.product_id}}</h2>
    <div class="order-detail-info">
      <p>Pedido creado en {{order.date_ordered}}</p>
      <p>{{order.get_cart_items}} itens por UYU{{order.get_cart_total}}</p>
      <p>Detalles de entrega:</p>
      <p>{{order.get_items_order.0.shipping.address}}, {{order.get_items_order.0.shipping.city}}</p>
    </div>
    <div class="order-detail-itens">
      {% for item in order.get_items %}
        <p>{{item.product_name}}</p>

        {% if item.complete %}
          {% if item.delivered %}
          <p>Ya fue entregado</p>
          {% else %}
          <p>Cocina he terminado</p>
          {% endif %}
        {% else %}
          <p>No esta listo.</p>
          <div>
            <p>{{item.quantity}}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
