{% extends 'orders/main.html' %}
{% load static %}

{% block content %}
<div class="order-detail">


    <h2 class="order-detail-number">Numero de pedido en el restaurante {{order.transaction_id}}</h2>
    <div class="order-detail-info">
      <p>Pedido creado en {{order.date_ordered|date:'d-m-Y'}} a las {{order.date_ordered|date:'G:i'}}</p>
      <p>{{order.get_cart_items}} itens por UYU{{order.get_cart_total}}</p>
      <p>Detalles de entrega: {{shipping.address}}, {{shipping.city}}</p>
    </div>
    <div class="order-detail-items">
      {% for item in order.get_items %}
        <div class="order-detail-items-item">
          <p>{{item.quantity}} {{item.product_name}}</p>

          {% if item.complete %}
            {% if item.delivered %}
            <p>Ya fue entregado</p>
            {% else %}
            <p>Cocina he terminado</p>
            {% endif %}
          {% else %}
            <p>No esta listo.</p>
          {% endif %}
          <p>UYU {{item.total}}</p>
        </div>
      {% endfor %}
    </div>
    <div class="order-detail-contact">
      <p>Contato del restaurante:</p>
      <p>{{order.restaurant.contact}}</p>
    </div>
  </div>
{% endblock content %}
