p {
  color: #232528;
  padding: 1vh; }

body {
  background-color: #009FFD; }
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  body::-webkit-scrollbar-thumb {
    background: #2A2A72;
    border-radius: 2vh; }
  body::-webkit-scrollbar-track {
    background: #EAF6FF; }
  body {
    scrollbar-face-color: #2A2A72;
    scrollbar-track-color: #EAF6FF; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  min-height: 10vh;
  margin: 2vh 0 2vh 0;
  flex-wrap: wrap;
  width: 100%;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }

.navbar a {
  color: #232528;
  text-decoration: none;
  height: 10vh;
  background-color: #BB0A21;
  border-radius: 2vh;
  border: solid 3px #009FFD;
  padding: 2vh;
  display: flex;
  align-items: center;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
  .navbar a:hover {
    background-color: #EAF6FF;
    cursor: pointer; }

.navbar li {
  font-size: 24px;
  text-align: center; }

.navbar img {
  width: 50px; }

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }

#searchBar {
  width: 50%;
  border: double 1vh;
  border-color: #BB0A21;
  padding: 1vw;
  color: #232528;
  border-radius: 2vh;
  font-size: 24px;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
  #searchBar:focus {
    width: 85%; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* When is necessary to hidde some information and show when hover */
.focus {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  background-color: #2A2A72;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .focus:hover {
    opacity: 1; }

.focus p {
  color: #EAF6FF; }

.screen {
  min-width: 100%;
  min-height: 100vh; }

.hidden {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }

.list-restaurant {
  height: 300px;
  width: 300px;
  margin: 2vh; }
  .list-restaurant-link {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 20%;
    overflow: hidden; }

.logo {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.restaurantBar {
  background-image: url("/static/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-attachment: fixed; }

.login-register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #009FFD;
  width: 50vw;
  padding: 10px;
  border-radius: 2vh;
  margin: 10vh; }

.action, .card-button {
  width: 100%;
  border-top: 6px double #BB0A21;
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center; }
  .action-button, .card-button-action, .checkout-check-container-check a, .checkout-check-container-check button, .checkout-check-container-table-check-total {
    padding: 2vh;
    margin-top: 2vh;
    background-color: #BB0A21;
    color: #2A2A72;
    border: 2px solid #EAF6FF;
    border-radius: 2vh;
    font-size: 24px;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
    width: 100%; }
    .action-button:hover, .card-button-action:hover, .checkout-check-container-check a:hover, .checkout-check-container-check button:hover, .checkout-check-container-table-check-total:hover {
      background-color: #EAF6FF;
      color: #BB0A21; }

.card {
  height: 55vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: #2A2A72;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
  margin: 2vh;
  border-radius: 2vh;
  color: #EAF6FF;
  width: 300px;
  min-height: 450px; }
  .card-normal {
    width: 100%;
    border-bottom: 2px solid #2A2A72;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5vw;
    justify-content: space-between;
    min-height: 25vh; }
    .card-normal-title {
      color: #232528;
      margin: 2vh;
      font-size: 24px;
      width: 100%; }
    .card-normal-button {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 24px; }
      .card-normal-button button {
        margin: 0 2vh; }
    .card-normal-detail {
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 1vw; }
      .card-normal-detail::-webkit-scrollbar {
        width: 10px;
        height: 10px; }
      .card-normal-detail::-webkit-scrollbar-thumb {
        background: #2A2A72;
        border-radius: 2vh; }
      .card-normal-detail::-webkit-scrollbar-track {
        background: #009FFD; }
      .card-normal-detail {
        scrollbar-face-color: #2A2A72;
        scrollbar-track-color: #009FFD; }
  .card:hover {
    background-color: #EAF6FF;
    color: #2A2A72; }
    .card:hover p {
      color: #2A2A72; }
  .card-title {
    font-size: 24px;
    color: #BB0A21; }
  .card-detail {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 2px;
    overflow: auto; }
    .card-detail::-webkit-scrollbar {
      width: 10px;
      height: 10px; }
    .card-detail::-webkit-scrollbar-thumb {
      background: #EAF6FF;
      border-radius: 2vh; }
    .card-detail::-webkit-scrollbar-track {
      background: #2A2A72; }
    .card-detail {
      scrollbar-face-color: #EAF6FF;
      scrollbar-track-color: #2A2A72; }
    .card-detail p {
      font-size: 12px;
      color: #EAF6FF;
      text-align: center;
      height: 80%; }
  .card-image {
    height: 300px;
    width: 300px; }
    .card-image img {
      height: 300px;
      width: 300px; }
  .card-button {
    margin-bottom: 0;
    border: 2px #EAF6FF;
    border-style: solid none;
    border-radius: 2vh;
    background: #BB0A21;
    padding: auto 2px; }
    .card-button-action {
      border-color: #2A2A72;
      margin: 0; }
    .card-button-text {
      width: 120%; }

.cart-nav-img {
  width: 50px; }
.cart-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 120px; }

.cart-nav p {
  background-color: #BB0A21;
  border-radius: 9999px;
  padding: 14px 19px;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center; }

.cart-body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh; }

.table-cart {
  padding: 5px;
  border: 5px solid #2A2A72;
  color: #EAF6FF;
  text-align: center; }
  .table-cart-head {
    background-color: #2A2A72;
    border: 4px solid #232528; }
  .table-cart-head th {
    border: 2px solid #232528; }
  .table-cart-body, .table-cart-body td {
    background-color: #2A2A72;
    border: 2px solid #232528; }
  .table-cart-foot, .table-cart-foot td {
    background-color: #EAF6FF;
    border: 5px solid #2A2A72;
    color: #232528; }
  .table-cart th, .table-cart td {
    padding: 5px; }
  .table-cart a {
    text-decoration: none; }

#checkout {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.checkout-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  #form-wrapper p {
    width: 100%;
    font-size: 24px;
    margin-bottom: 1vh; }

#user-info {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 1vw 0 2vw 2vw;
  flex-wrap: wrap;
  border-top-right-radius: 20%;
  background-color: #EAF6FF; }

.form-field {
  display: flex;
  flex-direction: column; }
  .form-field input {
    padding: 10px;
    margin: 0 2vh 0 0; }

#delivery-info {
  background-color: #2A2A72;
  color: #EAF6FF;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 1vw 0 2vw 2vw;
  flex-wrap: wrap;
  margin: 0 0 2vh 0; }
  #delivery-info p {
    color: #EAF6FF; }

.box-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#form {
  display: flex;
  flex-direction: column; }

#make-payment, .delivery-info-button {
  font-size: 24px;
  width: 50%;
  padding: 2.5vw;
  background-color: #BB0A21;
  color: #EAF6FF;
  border-radius: 2vh;
  border: 6px solid #2A2A72;
  border-style: none solid; }
  #make-payment:hover, .delivery-info-button:hover {
    background-color: #EAF6FF;
    color: #BB0A21;
    border-style: none;
    cursor: pointer; }

.delivery-info-button {
  align-self: center; }

.checkout-check {
  background-color: #2A2A72;
  padding: 2.5vw;
  color: #EAF6FF; }
  .checkout-check-container, .checkout-check-container-check {
    display: flex;
    flex-direction: column;
    width: 80vw; }
    .checkout-check-container-check {
      border-top: 6px double #EAF6FF;
      margin-top: 1vw; }
      .checkout-check-container-check h3 {
        margin-top: 1vw; }
      .checkout-check-container-check a, .checkout-check-container-check button {
        text-align: center;
        text-decoration: none;
        margin: 1vw 0;
        width: 45%; }
        .checkout-check-container-check a:hover, .checkout-check-container-check button:hover {
          width: 55%; }
    .checkout-check-container h3, .checkout-check-container-check h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 2vh;
      border-bottom: 6px double #EAF6FF;
      border-radius: 2vh; }
    .checkout-check-container-table, .checkout-check-container-table-check {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin: 1vw;
      border-bottom: 2px solid #EAF6FF; }
      .checkout-check-container-table-check p {
        color: #EAF6FF; }
      .checkout-check-container-table-check-total {
        height: 15vh;
        text-align: center;
        width: 45% !important;
        margin: 1vw 0 !important; }
      .checkout-check-container-table-item p {
        color: #EAF6FF; }
      .checkout-check-container-table-total {
        font-size: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #BB0A21;
        padding: 2px; }

.list-store {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none; }
  .list-store-container {
    width: 100%;
    margin-top: 2vh; }
  .list-store-category {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
    .list-store-category::-webkit-scrollbar {
      width: 10px;
      height: 10px; }
    .list-store-category::-webkit-scrollbar-thumb {
      background: #2A2A72;
      border-radius: 2vh; }
    .list-store-category::-webkit-scrollbar-track {
      background: #009FFD; }
    .list-store-category {
      scrollbar-face-color: #2A2A72;
      scrollbar-track-color: #009FFD; }
    .list-store-category-title {
      margin-top: 2vh;
      width: 100%;
      padding: 0;
      text-align: center;
      border: 6px #EAF6FF;
      border-style: double none;
      color: #2A2A72;
      font-size: 24px;
      height: 36px;
      transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
    .list-store-category-items, .list-store-category-items-normal {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      width: 100%;
      height: 600px;
      transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
      .list-store-category-items::-webkit-scrollbar, .list-store-category-items-normal::-webkit-scrollbar {
        width: 10px;
        height: 10px; }
      .list-store-category-items::-webkit-scrollbar-thumb, .list-store-category-items-normal::-webkit-scrollbar-thumb {
        background: #2A2A72;
        border-radius: 2vh; }
      .list-store-category-items::-webkit-scrollbar-track, .list-store-category-items-normal::-webkit-scrollbar-track {
        background: #009FFD; }
      .list-store-category-items, .list-store-category-items-normal {
        scrollbar-face-color: #2A2A72;
        scrollbar-track-color: #009FFD; }
      .list-store-category-items-normal {
        flex-direction: column;
        height: auto;
        overflow: auto; }

.staff-link {
  background-color: #2A2A72;
  margin: 2vh;
  padding: 2em;
  border-radius: 2vh;
  color: #EAF6FF; }
  .staff-link-container {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center; }

#container-customer {
  height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.form {
  border: 6px double #EAF6FF;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5vw; }
  .form-section, .form-section-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
    border-bottom: 2px solid #2A2A72;
    width: 100%; }
    .form-section-input {
      flex-grow: 1;
      background-color: inherit;
      border: none;
      margin-left: 1vw;
      text-align: center; }
      .form-section-input:hover {
        background-color: #EAF6FF; }
    .form-section-button {
      border: none;
      align-self: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%; }
  .form-button {
    width: 100%;
    padding: 2px;
    border: 6px double #BB0A21;
    border-style: double none;
    border-radius: 2vh;
    background-color: #2A2A72;
    color: #EAF6FF;
    font-size: 24px; }
    .form-button:hover {
      background-color: #EAF6FF;
      color: #2A2A72;
      cursor: pointer;
      border: 6px solid #2A2A72; }
  .form-help {
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
    list-style-type: circle; }
    .form-help li {
      color: #BB0A21;
      transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=main.css.map */
