body {
  background-color: blue;
}
div {
  background-color: blue;
}
.updateBtns {
  background-color: lightblue;
  color: white;
  text-align: center;
  font-size: 15550px;
}
a{
  color:green;
  background-color: red;
  padding: 2px
}
