p {
  color: #232528;
  padding: 1vh; }

body {
  background-color: #009FFD; }
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px; }
  body::-webkit-scrollbar-thumb {
    background: #2A2A72;
    border-radius: 2vh; }
  body::-webkit-scrollbar-track {
    background: #EAF6FF; }
  body {
    scrollbar-face-color: #2A2A72;
    scrollbar-track-color: #EAF6FF; }

.navbar {
  padding: 0;
  height: 10vh;
  margin: 2vh 0 2vh 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }

.navbar a {
  color: #232528;
  text-decoration: none;
  height: 100%;
  background-color: #BB0A21;
  border-radius: 2vh;
  border: solid 3px #009FFD;
  padding: 2vh;
  display: flex;
  align-items: center;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
  .navbar a:hover {
    background-color: #EAF6FF;
    cursor: pointer; }

.navbar li {
  font-size: 24px;
  text-align: center; }

.navbar img {
  width: 50px; }

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }

#searchBar {
  width: 50%;
  border: double 1vh;
  border-color: #BB0A21;
  padding: 1vw;
  color: #232528;
  border-radius: 2vh;
  font-size: 24px;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
  #searchBar:focus {
    width: 85%; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* When is necessary to hidde some information and show when hover */
.focus {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  background-color: #2A2A72;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .focus:hover {
    opacity: 1; }

.focus p {
  color: #EAF6FF; }

.screen {
  min-width: 100%;
  min-height: 100vh; }

.hidden {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }

body {
  padding: 15vh 0 0 0;
  margin: 0; }

.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 1vh;
  z-index: 10;
  background-color: #2A2A72;
  display: flex;
  flex-direction: row;
  height: auto; }
  .nav-link {
    padding: 2vh;
    display: flex; }
    .nav-link img {
      width: 50px;
      height: auto; }
    .nav-link:hover {
      background-color: #EAF6FF; }

.title {
  font-size: 24px;
  text-align: center; }

.sub-title {
  font-size: 18px;
  text-align: center; }

.action {
  width: 100%;
  border-top: 6px double #BB0A21;
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .action-button, .item-container button, .item-container-order button, .finish button, .delivery-list-card button, .order-detail-weiter-shipping button, .item-container-order-item button, .order-detail-weiter-list-container button, .delivery-list-card-detail, .order-detail-cashier button, .kitchen-card button {
    padding: 2vh;
    margin-top: 2vh;
    background-color: #BB0A21;
    color: #EAF6FF;
    border: 2px solid #EAF6FF;
    border-radius: 2vh;
    font-size: 24px;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
    .action-button:hover, .item-container button:hover, .item-container-order button:hover, .finish button:hover, .delivery-list-card button:hover, .order-detail-weiter-shipping button:hover, .item-container-order-item button:hover, .order-detail-weiter-list-container button:hover, .delivery-list-card-detail:hover, .order-detail-cashier button:hover, .kitchen-card button:hover {
      background-color: #EAF6FF;
      color: #BB0A21; }

.container-orders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  flex-wrap: wrap; }
  .container-orders-card {
    width: 35vw;
    background-color: #2A2A72;
    padding: 2.5vw;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
    .container-orders-card-order {
      border: 2px solid #EAF6FF;
      border-radius: 2vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .container-orders-card-button {
      margin-top: 2vh;
      background-color: #BB0A21;
      padding: 10px 2vh;
      border-radius: 20%; }
      .container-orders-card-button:hover {
        cursor: pointer;
        background-color: #2A2A72; }
    .container-orders-card:hover {
      background-color: #EAF6FF;
      border-radius: 20%; }
      .container-orders-card:hover p {
        color: #2A2A72; }
    .container-orders-card p {
      color: #EAF6FF; }

.form {
  margin: 2vh;
  display: flex;
  flex-direction: column; }
  .form-section {
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
    .form-section-label {
      color: #2A2A72; }

input, textarea {
  width: 100%;
  height: 100%;
  background-color: #009FFD;
  border: none;
  border-bottom: 2px solid #2A2A72;
  transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s; }
  input:focus, textarea:focus {
    border: none;
    border-bottom: 2px solid #2A2A72; }
  input:hover, textarea:hover {
    background-color: #EAF6FF; }

textarea {
  border: 2px solid #2A2A72; }

#id_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  #id_category label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1vw; }
  #id_category input, #id_category textarea {
    width: 25px;
    height: 25px; }

.item-container, .item-container-order, .finish, .delivery-list-card, .order-detail-weiter-shipping, .item-container-order-item, .order-detail-weiter-list-container {
  border-bottom: solid 2px #2A2A72;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .item-container button, .item-container-order button, .finish button, .delivery-list-card button, .order-detail-weiter-shipping button, .item-container-order-item button, .order-detail-weiter-list-container button {
    margin: 2vh;
    width: 45%; }
  .item-container-buttons, .item-container-buttons button, .order-detail-weiter-list-container-buttons, .order-detail-weiter-list-container-buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .item-container-buttons button, .order-detail-weiter-list-container-buttons button {
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 100%; }
    .item-container-buttons-quantity, .order-detail-weiter-list-container-buttons-quantity {
      font-size: 18px; }
  .item-container-order, .finish, .delivery-list-card, .order-detail-weiter-shipping {
    flex-direction: column;
    border: 6px double #EAF6FF;
    border-bottom: none;
    transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
    border-radius: 2vh;
    margin: 2vh; }
    .item-container-order:hover, .finish:hover, .delivery-list-card:hover, .order-detail-weiter-shipping:hover {
      background-color: #EAF6FF; }
    .item-container-order-p {
      border-bottom: 2px solid #2A2A72; }
    .item-container-order-item {
      border-top: none; }
      .item-container-order-item-delivery {
        width: 100% !important;
        margin: 0 !important;
        align-self: center; }
        .item-container-order-item-delivery:hover {
          cursor: pointer; }

.item-list, .order-detail-weiter-list {
  border-bottom: solid 2px #2A2A72;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.finish {
  margin: auto;
  border: none;
  height: 100%;
  width: 100%;
  background-color: #2A2A72; }
  .finish .title {
    color: #BB0A21;
    background-color: #EAF6FF; }

.delivery-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .delivery-list-card, .order-detail-weiter-shipping {
    justify-content: center; }
    .delivery-list-card-info, .order-detail-weiter-shipping-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: 2px solid #2A2A72; }
      .delivery-list-card-info p, .order-detail-weiter-shipping-info p {
        padding: 0;
        padding-left: 1vw; }
      .delivery-list-card-info a, .order-detail-weiter-shipping-info a {
        width: 50%;
        align-self: center;
        background-color: #2A2A72;
        border-radius: 2vh;
        padding: 2.5vw;
        margin-bottom: 2vh;
        text-decoration: none;
        text-align: center;
        color: #BB0A21; }
        .delivery-list-card-info a:hover, .order-detail-weiter-shipping-info a:hover {
          background-color: #BB0A21;
          color: #EAF6FF; }
      .delivery-list-card-info-address {
        width: 100%;
        font-size: 24px;
        text-align: center; }
    .delivery-list-card-item, .delivery-list-card-item p {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid #2A2A72; }
      .delivery-list-card-item p {
        border: none; }
      .delivery-list-card-item button {
        padding: 0; }
    .delivery-list-card-detail {
      text-align: center;
      text-decoration-color: none; }

.order-detail {
  display: flex;
  flex-direction: column; }
  .order-detail-weiter {
    display: flex;
    flex-direction: column; }
    .order-detail-weiter-list {
      border: none; }
      .order-detail-weiter-list-container {
        align-items: center; }
        .order-detail-weiter-list-container button {
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center; }
        .order-detail-weiter-list-container-buttons button {
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 100%; }
    .order-detail-weiter-shipping h5 {
      width: 100%;
      text-align: center;
      font-size: 18px; }
    .order-detail-weiter-shipping button {
      width: 100%;
      margin: 0; }
    .order-detail-weiter-shipping-info {
      border: 2px #2A2A72;
      border-style: none;
      border-top-style: solid;
      flex-direction: column;
      flex-wrap: wrap; }
  .order-detail-cashier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 6px double #BB0A21;
    border-radius: 5%;
    margin-top: 2vh; }
    .order-detail-cashier button {
      width: 100%; }
    .order-detail-cashier-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: 2px solid #2A2A72; }
    .order-detail-cashier-total {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 2px solid #2A2A72; }
      .order-detail-cashier-total tr {
        border: 2px solid #2A2A72; }
      .order-detail-cashier-total-item {
        font-size: 24px; }

.kitchen h6 {
  border-bottom: 2px solid #2A2A72;
  font-size: 18px; }
.kitchen h2 {
  margin: 2vh 0;
  padding: 2.5vw 0;
  border: 2px solid #2A2A72;
  background-color: #2A2A72;
  color: #EAF6FF;
  border-style: solid none; }
.kitchen-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #2A2A72;
  border-bottom: none;
  border-radius: 2vh;
  margin: 2vh 0; }
  .kitchen-card-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .kitchen-card button {
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center; }

.owner {
  display: flex;
  flex-direction: row;
  align-items: baseline; }
  .owner-section, .owner-section-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    width: 40vw;
    justify-content: center; }
    .owner-section h3, .owner-section-info h3 {
      width: 100%;
      text-align: center; }
    .owner-section-card {
      border: 2px solid #EAF6FF;
      margin: 1vw;
      padding: 1.375vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #2A2A72; }
      .owner-section-card p, .owner-section-card a {
        color: #EAF6FF; }
    .owner-section-info {
      align-self: flex-start;
      background-color: #2A2A72;
      height: 100vh; }
    .owner-section-image {
      width: 300px;
      height: 300px;
      border-radius: 100%;
      margin: 2vh auto; }
    .owner-section-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vh auto;
      padding: 2.125vw;
      width: 300px; }
      .owner-section-items a {
        border-bottom: 2px solid #BB0A21;
        margin-top: 2vh;
        text-align: center;
        text-decoration: none;
        color: #EAF6FF;
        width: 50%;
        border-radius: 2vh; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, textarea::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number], textarea[type=number] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=staff.css.map */
