{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>Mas Menu</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
      <ul class="navbar">
        {% if request.user.is_authenticated %}
          <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'register' %}"><img src="/static/images/edit.svg" alt="edit" class="navbar-img">Registrar</a></li>
          <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'orders_customer' request.user.email %}"><img src="/static/images/list.svg" alt="list" class="navbar-img">Mis pedidos</a></li>
          <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'logout' %}"><img src="/static/images/lock.svg" alt="lock" class="navbar-img">Salir de su cuenta</a></li>
        {% endif %}
        <li class="navbar-container"><div class="navbar-block"></div><a href="{% url 'home' %}"><img src="/static/images/restaurant.png" alt="restaurant" class="navbar-img">Lista de restaurantes</a></li>
      </ul>
      <section id="accounts">
        {% block content %}
        {% endblock %}
      </section>
      <script type="text/javascript">
      	let message = '{{message}}'
      	if (message){
      		alert(message)
      	}
      </script>
    </body>

</html>
