{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>Mas Menu</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
      <ul class="navbar">
        <a href="{% url 'orders_customer' request.user.email %}"><li>Mis pedidos</li></a>
        <a href="{% url 'home' %}"><li>Lista de restaurantes</li></a>
      </ul>
      {% block content %}
      {% endblock %}
      <script type="text/javascript">
      	let message = '{{message}}'
      	if (message){
      		alert(message)
      	}
      </script>
    </body>

</html>
