{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<!--Register-->
<div class="container">
	<form method="POST" class="form">
		{% csrf_token %}
		<div class="form-section">
			<label class="form-section-label" for="username">Usuario:</label>
			{{ register_form.username }}
		</div>
		<div class="form-section">
			<label class="form-section-label" for="email">Email:</label>
			{{ register_form.email }}
		</div>
		<div class="form-section">
			<label class="form-section-label" for="password1">Contraseña:</label>
			{{ register_form.password1 }}
		</div>
		<div class="form-section">
			<label class="form-section-label" for="password2">Confirmar contraseña:</label>
			{{ register_form.password2 }}
		</div>
		<div class="form-section">
			<label class="form-section-label" for="name">Nombre:</label>
			{{ form_customer.name }}
		</div>
		<div class="form-section">
			<label class="form-section-label" for="phone">Telefono:</label>
			{{ form_customer.phone }}
		</div>





		<div class="form-section-button">
			<button class="form-button" type="submit">Registrate</button>
			<p class="text-center">Si ya tienes una cuenta, <a href="{% url 'login'%}">Ingresa.</a></p>
		</div>
	</form>

</div>

{% endblock %}
