#container-customer{
  height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form{
  border: $border-big double $select-color;
  border-radius: $rounded-soft;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $padding-default;
  &-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $margin-default 0;
    border-bottom: $border-default solid $dark-color;
    width: 100%;
    &-input{
      flex-grow: 1;
      background-color: inherit;
      border: none;
      margin-left: $margin-small;
      text-align: center;
      &:hover{
        background-color: $select-color;
      }
    }
    &-button{
      @extend .form-section;
      border: none;
      align-self: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 80%;
    }
  }
  &-button{
    width: 100%;
    padding: $padding-small;
    border: $border-big double $alert-color;
    border-style: double none;
    border-radius: $rounded-soft;
    background-color: $dark-color;
    color: $select-color;
    font-size: $font-big;
    &:hover{
      background-color: $select-color;
      color: $dark-color;
      cursor: pointer;
      border: $border-big solid $dark-color;
    }
  }
}
