@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $rounded-soft;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

p{
  color: $font-color;
  padding: 1vh;
}
body{
  background-color: $base-color;
  @include scrollbars(10px, $dark-color, $select-color);
}

.navbar{
  padding: 0;
  height: 10vh;
  margin: $margin-default 0 $margin-default 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: $transition;
}
.navbar a{
  color: $font-color;
  text-decoration: none;
  height: 100%;
  background-color: $alert-color;
  border-radius: $rounded-soft;
  border: solid 3px $base-color;
  padding: $margin-default;
  display: flex;
  align-items: center;
  transition: $transition;
  &:hover {
      background-color: $select-color;
      cursor: pointer;
    }
}
.navbar li{
  font-size: 24px;
  text-align: center;




}
.navbar img{
  width: $nav-images-default-site;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
#searchBar{
  width: 50%;
  border: double 1vh;
  border-color: $alert-color;
  padding: 1vw;
  color:$font-color;
  border-radius: $rounded-soft;
  font-size: 24px;
  transition: $transition;
  &:focus {
      width: 85%;
    }
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* When is necessary to hidde some information and show when hover */
.focus{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  background-color: $dark-color;
  transition: $transition;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
      opacity: 1;
    }
}
.focus p{
  color: $select-color;
}

.screen{
  min-width: 100vw;
  min-height: 100vh;

}
