@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $rounded-soft;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

p{
  color: $font-color;
  padding: 1vh;
}
body{
  background-color: $base-color;
  @include scrollbars(10px, $dark-color, $select-color);
}
section{
  margin-top: $nav-size*1.2 !important;
}

.navbar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-default*0.5;
  height: 5em;
  flex-wrap: wrap;
  width: 100%;
  transition: $transition;
  background-color: $select-color;
  transition: $transition;
  &-container{
    width: $nav-images-default-site;
    height:  $nav-images-default-site;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    transition: $transition;
    position: relative;

    @media screen and (min-width: $desktops){
      width: auto;
      height: $nav-size;
      flex-grow: 1;
    }

    &-cart{
      @extend .navbar-container;
      width: auto;
    }
    & p{
      background-color: $alert-color;
      border-radius: 9999px;
      padding: 14px 19px;
      font-size: 24px;
      text-align: center;
      display: flex;
      align-items: center;
    }
    &-active{
      background-color: $dark-color;
      width: auto;
      height: $nav-size;
      padding: $padding-default*0.7 $padding-default*0.5;
      border-radius: 0;
    }
    & a{
      width: $nav-images-default-site;
      height:  $nav-images-default-site;
      display: flex;
      flex-direction: row;
      position: absolute;
      align-items: center;
      color: $select-color;
      left: 0;
      top: 0;
      z-index: 0;
      @media screen and (min-width: $desktops){
        z-index: 2;
        width: 100%;
        justify-content: space-around;
        background-color: $dark-color;
        height: 100%;
        padding: $padding-default*0.7 0;
        position: relative;
        border: $border-default $select-color;
        border-style: none solid;
      }
    }
  }
  &-block{
    width: $nav-images-default-site;
    height:  100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    &:hover{
      cursor: pointer;
    }
  }
  &-img{
    transition: $transition;
    width: $nav-images-default-site;
    height:  $nav-images-default-site;
  }
}
#searchBar{
  width: 50%;
  border: double 1vh;
  border-color: $alert-color;
  padding: 1vw;
  color:$font-color;
  border-radius: $rounded-soft;
  font-size: 24px;
  transition: $transition;
  &:focus {
      width: 85%;
    }
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.screen{
  min-width: 100%;
  min-height: 100vh;

}

.hidden{
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  opacity: 0 !important;
  transition: $transition;
}
