$base-color: #009FFD;
$dark-color: #2A2A72;
$font-color: #232528;
$select-color: #EAF6FF;
$alert-color: #BB0A21; 
$image-default-size: 300px;
$nav-images-default-site: 50px;
$transition: width 1s, height 2.5s, opacity 2s, background-color 1s;
$margin-default:2vw;
$rounded: 20%;
$rounded-soft: 2vh;
$card-heigth: 60vh;
$card-width: 45vh;
