$base-color: #27FB6B;
$dark-color: #1B2CC1;
$font-color: #103900;
$select-color: #0AD3FF;
$alert-color: #D7263D;
$image-default-size: 300px;
$nav-images-default-site: 200px;
$transition: width 1s, height 2.5s, opacity 2s;
$margin-default:2vw;
$rounded: 20%;
$rounded-soft: 2vh;
