$base-color: #009FFD;
$dark-color: #2A2A72;
$font-color: #232528;
$select-color: #EAF6FF;
$alert-color: #BB0A21;
$image-width: 300px;
$image-height: 300px;
$nav-images-default-site: 50px;
$transition: width 1s, height 2.5s, opacity 2s, background-color 1s, border-radius 3s, padding 1.5s;
$font-size:18px;
$font-big:24px;
$margin-default:2vh;
$margin-small:1vw;
$padding-default:2.5vw;
$padding-small:2px;
$border-default:2px;
$border-big:6px;
$rounded: 20%;
$rounded-soft: 2vh;
$card-heigth: 45vh;
$card-width: 35vw;
$card-width-min: 300px;
