@import 'variables';
@import 'general';
body{
  margin: 0;
  padding: 0;
}
.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  min-height: 90vh;
  &-order{
    width: 35vw;
    background-color: $dark-color;
    margin: $margin-default;
    height: 35vh;
    border-radius: $rounded-soft;
    color: $select-color;
  }
  &-link{
    text-decoration: none;
    & p{
      color: $select-color;
    }
  }
}
.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 2em;
  align-items: baseline;

  &-container{
    text-decoration: none;
    border-bottom: 2px solid $dark-color;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:hover{
      background-color: $select-color;
    }
  }
}
.order-detail{
  display: flex;
  flex-direction: column;
  &-number{
    width: 100%;
    border: $border-default $dark-color;
    border-style: solid none;

  }
  &-info{
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    & p{
      border-bottom: $border-default solid $alert-color;
      color: $select-color;
    }
  }
  &-items{
    margin: $margin-default 0;
    border: $border-big $dark-color;
    border-style: double none;
    border-radius: $rounded-soft;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      border-bottom: $border-default solid $dark-color;
      margin-bottom: $margin-small;
      border-radius: $rounded-soft;
    }
  }
  &-contact{
    @extend .order-detail-items;
    flex-direction: row;
    justify-content: center;
    font-size: $font-size;
    background-color: $dark-color;
    border-color: $alert-color;
    & p{
      color: $select-color;
    }
  }
}
