@import 'variables';
@import 'general';

body{
  padding: 15vh 0 0 0;
  margin: 0;

}


.nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 1vh;
  z-index: 10;
  background-color: $dark-color;
  display: flex;
  flex-direction: row;
  height: auto;
  &-link{
    padding: $margin-default;
    display: flex;
    & img{
      width: $nav-images-default-site;
      height: auto;
    }
    &:hover{
      background-color: $select-color;
    }
  }
}
.title{
  font-size: 24px;
  text-align: center;
}
.sub-title{
  font-size: 18px;
  text-align: center;
}
.action{
  width: 100%;
  border-top: $border-big double $alert-color;
  margin: $margin-default 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &-button{
    padding: $margin-default;
    margin-top: $margin-default;
    background-color: $alert-color;
    color: $select-color;
    border: $border-default solid $select-color;
    border-radius: $rounded-soft;
    font-size: $font-big;
    transition: $transition;
    &:hover{
      background-color: $select-color;
      color: $alert-color;
    }
  }
}
.container-orders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-small;
  flex-wrap: wrap;
  &-card{
    width: $card-width;
    background-color: $dark-color;
    $margin-small: 1vw;
    padding: $padding-default;
    border-radius: $rounded-soft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: $transition;
    &-order{
      border: $border-default solid $select-color;
      border-radius: $rounded-soft;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-button{
      margin-top: $margin-default;
      background-color: $alert-color;
      padding: 10px $margin-default;
      border-radius: $rounded;
      &:hover{
        cursor: pointer;
        background-color: $dark-color;
      }
    }
    &:hover{
      background-color: $select-color;
      border-radius: $rounded;
      & p{
          color: $dark-color;
      }
    }& p{
      color:$select-color;
    }
  }
}
.form{
  margin: $margin-default;
  display: flex;
  flex-direction: column;
  &-employees{
    border: $border-default solid $alert-color;
    border-radius: $rounded-soft;
    padding: $padding-default;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: $dark-color;
    align-items: center;
    min-height: 30vh;
    justify-content: space-around;
    & label{
      color:$select-color;
      margin-left: $margin-small;
    }
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;
      & select{
        width: 100%;
        background-color: $base-color;
        @include scrollbars(10px, $dark-color, $select-color);
        & option{
          background-color: $base-color;
          &:checked{
            background-color: $dark-color;
            color: $select-color;
          }
        }
      }
    }
  }
  &-section{
    margin: $margin-default 0;
    display: flex;
    flex-direction: row;
    transition: $transition;
    &-label{
      color: $dark-color;
    }
    &-logo{
      margin: $margin-default;
      & input{
        width: auto;
      }


    }
  }
}
input{
  width: 100%;
  height: 100%;
  background-color: $base-color;
  border: none;
  border-bottom: $border-default solid $dark-color;
  transition: $transition;
  &:focus{
    border: none;
    border-bottom: $border-default solid $dark-color;
  }
  &:hover{
    background-color: $select-color;
  }
}
textarea{
  @extend input;
  border: $border-default solid $dark-color;
}
#id_category{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  & label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 $margin-small;
  }
  & input{
    width:25px;
    height: 25px;
  }
}

.item-container{
  border-bottom: solid $border-default $dark-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & button{
    @extend .action-button;
    margin: $margin-default;
    width: 45%;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & button{
      @extend .item-container-buttons;
      justify-content: center;
      width: $nav-images-default-site;
      height: $nav-images-default-site;
      border-radius: 100%;
    }
    &-quantity{
      font-size: $font-size;
    }
  }
  &-order{
    @extend .item-container;
    flex-direction: column;
    border: $border-big double $select-color;
    border-bottom: none;
    transition: $transition;
    border-radius: $rounded-soft;
    margin: $margin-default;
    &:hover{
      background-color: $select-color;
    }
    &-p{
      border-bottom: $border-default solid $dark-color;
    }
    &-item{
      @extend .item-container;
      border-top: none;
      &-delivery{
        width: 100% !important;
        margin: 0 !important;
        align-self: center;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.item-list{
  border-bottom: solid $border-default $dark-color;
  padding: $margin-default 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.finish{
  @extend .item-container-order;
  margin: auto;
  border: none;
  height: 100%;
  width: 100%;
  background-color: $dark-color;
  & .title{
    color: $alert-color;
    background-color: $select-color;
  }
}
.delivery-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-card{
    @extend .item-container-order;
    justify-content: center;
    &-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: $border-default solid $dark-color;
      & p{
        padding: 0;
        padding-left: 1vw;
      }
      & a{
        width: 50%;
        align-self: center;
        background-color: $dark-color;
        border-radius: $rounded-soft;
        padding: $padding-default;
        margin-bottom: $margin-default;
        text-decoration: none;
        text-align: center;
        color: $alert-color;
        &:hover{
          background-color: $alert-color;
          color: $select-color;
        }
      }
      &-address{
        width: 100%;
        font-size: $font-big;
        text-align: center;
      }
    }
    &-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: $border-default solid $dark-color;
      & p{
        @extend .delivery-list-card-item;
        border: none;
      }
      & button{
        padding: 0;
      }
    }
    &-detail{
      @extend .action-button;
      text-align: center;
      text-decoration-color: none;
    }

  }
}

.order-detail{
  display: flex;
  flex-direction: column;
  &-weiter{
    display: flex;
    flex-direction: column;
    &-list{
      @extend .item-list;
      border: none;
      &-container{
        @extend .item-container;
        align-items: center;
        & button{
          height: $font-big;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &-buttons{
          @extend .item-container-buttons;
          & button{
            @extend .item-container-buttons;
            justify-content: center;
            width: $nav-images-default-site;
            height: $nav-images-default-site;
            border-radius: 100%;

          }
          &-quantity{
            @extend .item-container-buttons-quantity;
          }
        }
      }
    }
    &-shipping{
      @extend .delivery-list-card;
      & h5{
        width: 100%;
        text-align: center;
        font-size: $font-size;
      }
      & button{
        width: 100%;
        margin: 0;
      }
      &-info{
        @extend .delivery-list-card-info;
        border: $border-default $dark-color;
        border-style: none;
        border-top-style: solid;
        flex-direction:column;
        flex-wrap: wrap;

      }
    }
  }
  &-cashier{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top:$border-big double $alert-color;
    border-radius: 5%;
    margin-top: $margin-default;
    & button{
      @extend .action-button;
      width: 100%;
    }
    &-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: $border-default solid $dark-color;
    }
    &-total{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: $border-default solid $dark-color;

      & tr{
        border: $border-default solid $dark-color;

      }
      &-item{
        font-size: $font-big;
      }
    }
  }
}
.kitchen{
  & h6{
    border-bottom: $border-default solid $dark-color;
    font-size: $font-size;
  }
  & h2{
    margin:$margin-default 0;
    padding: $padding-default 0;
    border: $border-default solid $dark-color;
    background-color: $dark-color;
    color: $select-color;
    border-style: solid none;
  }
  &-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: $border-default solid $dark-color;
  border-bottom: none;
  border-radius: $rounded-soft;
  margin: $margin-default 0;
  &-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  & button{
    @extend .action-button;
    height: $font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
}
.owner{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  &-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    list-style-type:none;
    width: 40vw;
    justify-content: center;
    & h3{
      width: 100%;
      text-align: center;
    }
    &-card{
      border: $border-default solid $select-color;
      margin: $margin-small;
      padding: $padding-default*0.55;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $dark-color;
      & p, a {
        color: $select-color;
      }
    }
    &-info{
      @extend .owner-section;
      align-self:flex-start;
      background-color: $dark-color;
      height: 100vh;
    }
    &-image{
      width: $image-width;
      height: $image-width;
      border-radius: 100%;
      margin: $margin-default auto;
    }
    &-items{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: $margin-default auto;
      padding: $padding-default*0.85;
      width: $image-width;
      & a{
        border-bottom: $border-default solid $alert-color;
        margin-top: $margin-default;
        text-align: center;
        text-decoration: none;
        color: $select-color;
        width: 50%;
        border-radius: $rounded-soft;
      }
    }
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
