@import 'variables';
@import 'general';

body{
  padding-top: 15vh;
}

.nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 1vh;
  z-index: 10;
  background-color: $dark-color;
  display: flex;
  flex-direction: row;
  height: auto;
  &-link{
    padding: $margin-default;
    display: flex;
    & img{
      width: $nav-images-default-site;
      height: auto;
    }
    &:hover{
      background-color: $select-color;
    }
  }
}
.title{
  font-size: 24px;
  text-align: center;
}
.sub-title{
  font-size: 18px;
  text-align: center;
}
.action{
  width: 100%;
  border-top: $border-big double $alert-color;
  margin: $margin-default 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &-button{
    padding: $margin-default;
    margin-top: $margin-default;
    background-color: $alert-color;
    color: $dark-color;
    border: $border-default solid $select-color;
    border-radius: $rounded-soft;
    font-size: $font-big;
    transition: $transition;
    &:hover{
      background-color: $select-color;
      color: $alert-color;
    }
  }
}
.container-orders{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-small;
  flex-wrap: wrap;
  &-card{
    width: $card-width;
    background-color: $dark-color;
    $margin-small: 1vw;
    padding: $padding-default;
    border-radius: $rounded-soft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: $transition;
    &-button{
      margin-top: $margin-default;
      background-color: $alert-color;
      padding: 10px $margin-default;
      border-radius: $rounded;
      &:hover{
        cursor: pointer;
        background-color: $dark-color;
      }
    }
    &:hover{
      background-color: $select-color;
      border-radius: $rounded;
      & p{
          color: $dark-color;
      }
    }& p{
      color:$select-color;
    }
  }
}
.form{
  margin: $margin-default;
  display: flex;
  flex-direction: column;
  &-section{
    display: flex;
    flex-direction: row;
    transition: $transition;
    &-label{
      color: $dark-color;
    }
  }
}
input{
  width: 100%;
  height: 100%;
  background-color: $base-color;
  border: none;
  border-bottom: $border-default solid $dark-color;
  transition: $transition;
  &:focus{
    border: none;
    border-bottom: $border-default solid $dark-color;
  }
  &:hover{
    background-color: $select-color;
  }
}

.item-container{
  border-bottom: solid $border-default $dark-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & button{
    @extend .action-button;
    margin: $margin-default;
    width: 45%;
  }
  &-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & button{
      @extend .item-container-buttons;
      justify-content: center;
      width: $nav-images-default-site;
      height: $nav-images-default-site;
      border-radius: 100%;
    }
    &-quantity{
      font-size: $font-size;
    }
  }
  &-order{
    @extend .item-container;
    flex-direction: column;
    border: $border-big double $select-color;
    border-bottom: none;
    transition: $transition;
    border-radius: $rounded-soft;
    margin: $margin-default;
    &:hover{
      background-color: $select-color;
    }
    &-p{
      border-bottom: $border-default solid $dark-color;
    }
    &-item{
      @extend .item-container;
      border-top: none;
      &-delivery{
        width: 100% !important;
        margin: 0 !important;
        align-self: center;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
.item-list{
  border-bottom: solid $border-default $dark-color;
  padding: $margin-default 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.finish{
  @extend .item-container-order;
  margin: auto;
  border: none;
  height: 100%;
  width: 100%;
  background-color: $dark-color;
  & .title{
    color: $alert-color;
    background-color: $select-color;
  }
}
.delivery-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-card{
    @extend .item-container-order;
    justify-content: center;
    &-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      border-bottom: $border-default solid $dark-color;
      & p{
        padding: 0;
        padding-left: 1vw;
      }
      & a{
        width: 50%;
        align-self: center;
        background-color: $dark-color;
        border-radius: $rounded-soft;
        padding: $padding-default;
        margin-bottom: $margin-default;
        text-decoration: none;
        text-align: center;
        color: $alert-color;
        &:hover{
          background-color: $alert-color;
          color: $select-color;
        }
      }
      &-address{
        width: 100%;
        font-size: $font-big;
        text-align: center;
      }
    }
    &-item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px $border-default $dark-color;
      & p{
        @extend .delivery-list-card-item;
        border: none;
      }
      & button{
        padding: 0;
      }
    }
    &-detail{
      @extend .action-button;
      text-align: center;
      text-decoration-color: none;
    }

  }
}
