{% extends 'main.html' %}
{% load static %}
{% block content %}
	<div>
		<div>
			<div>

				<a href="{% url 'store' restaurant.name %}">; Continue Shopping</a>
				<table>
					<tr>
						<th><h5>Items: {{order.get_cart_items}}</h5></th>
						<th><h5>Total: UYU{{order.get_cart_total|floatformat:2}}</h5></th>
						<th>
							<a href="{% url 'checkout' restaurant.name %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<div>
				<div>
					<div></div>
					<div>Item</div>
					<div>Price</div>
					<div>Quantity</div>
					<div>Total</div>
				</div>
				{% for item in items %}
				<div>
					<!--<div><img src="{{item.product.imageURL}}"></div>-->
					<div><p>{{item.product.name}}</p></div>
					<div><p>${{item.product.price|floatformat:2}}</p></div>
					<div>
						<button type="button" name="remove" data-product="{{item.product.id}}" data-action="remove" class="update-cart">-</button>
						<p>{{item.quantity}}</p>
						<button type="button" name="add" data-product="{{item.product.id}}" data-action="add" class="update-cart">+</button>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}
