{% extends 'staff/main.html' %}
{% load static %}
{% block content %}
<section id="cashier">
  {% if is_cashier %}
    <p class="title">Pedidos para local</p>
    <div class="container-orders">
      {% for orders in local_order %}
        <div class="container-orders-card">
          {% for order in orders %}
              <p>{{order.customer.name}}</p>
              {% for i in order.orders %}
                {% if i.transaction_id and not i.closed %}
                <p>pedido {{i.transaction_id}}</p>
                <a href="{% url 'orderDetail' restaurant.name i.transaction_id %}">Detalles del pedido</a>
                <button data-customer="{{order.customer.name}}" data-order="{{i.transaction_id}}" class="container-orders-card-button btn-paid">Pagar</button>
                {% endif %}
              {% endfor %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <p class="title">Pedidos para delivery</p>
    <div class="container-orders">
      {% for order in orders %}
        <div class="container-orders-card">
          <p>{{order.customer.name}}</p>

          {% if order.transaction_id %}
          <p>pedido {{order.transaction_id}}</p>
          <a href="{% url 'orderDetail' restaurant.name order.transaction_id %}">Detalles del pedido</a>
          <button data-customer="{{order.customer.name}}" data-order="{{order.transaction_id}}" class="container-orders-card-button btn-paid">Pagar</button>
          {% endif %}
        </div>
      {% endfor %}
    </div>

  {% endif %}
</section>
<script type="text/javascript" src="{% static 'js/order.js' %}"></script>
{% endblock content %}
