{% extends 'staff/main.html' %}
{% load static %}
{% block content %}
	<section class="kitchen">
		<h2 class="title">Pedidos para delivery</h2>
		{% for i in delivery %}
			<h6>Pedido {{i.0.order_id}}</h6>
			{% for item in i%}
	      {% if item.complete == False %}
	        <div class="kitchen-card">
	            <div class="kitchen-card-items">
	              <p>Plato</p>
	              <p>{{item.product_id}}</p>
	              <p>{{item.product_name}}</p>
                <p>Quantidade</p>
                <p>{{item.quantity}}</p>
	            </div>
							<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="finish" class="add-btn update-order">Terminar</button>
	        </div>
	      {% endif %}
			{% endfor %}
		{% endfor %}
		<h2 class="title">Pedidos locales</h2>
		{% for i in local %}
			<h6>Pedido {{i.0.order_id}}</h6>
			{% for item in i%}
	      {% if item.complete == False %}
	        <div class="kitchen-card">
	            <div class="kitchen-card-items">
	              <p>Plato</p>
	              <p>{{item.product_id}}</p>
	              <p>{{item.product_name}}</p>
                <p>Quantidade</p>
                <p>{{item.quantity}}</p>
	            </div>
							<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="finish" class="add-btn update-order">Terminar</button>
	        </div>
	      {% endif %}
			{% endfor %}
		{% endfor %}
		<h2 class="title">Platos terminados<h2>
			<h4>Pedidos para delivery</h4>
			{% for i in delivery %}
				<h6>Pedido {{i.0.order_id}}</h6>
				{% for item in i%}
					{% if item.complete %}

						<div class="kitchen-card">
							<div class="finish">
								<div class="kitchen-card-items">
									<p>Plato</p>
									<p>{{item.product_id}}</p>
									<p>{{item.product_name}}</p>
									<p>Quantidade</p>
									<p>{{item.quantity}}</p>
								</div>
								<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="return" class="add-btn update-order">Retorno</button>
							</div>
						</div>
						{% endif %}
					{% endfor %}
			{% endfor %}
			<h4>Pedidos locales</h4>
			{% for i in local %}
			{% for item in i%}
				{% if item.complete %}
						<h6>Pedido {{i.0.order_id}}</h6>
						<div class="kitchen-card">
							<div class="finish">
								<div class="kitchen-card-items">
									<p>Plato</p>
									<p>{{item.product_id}}</p>
									<p>{{item.product_name}}</p>
									<p>Quantidade</p>
									<p>{{item.quantity}}</p>
								</div>
								<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="return" class="add-btn update-order">Retorno</button>
							</div>
						</div>
					{% endif %}
			{% endfor %}
			{% endfor %}



	</section>

{% endblock content %}
