{% extends 'staff/main.html' %}
{% load static %}
{% block content %}
	<div>
		<h2>Pedidos para delivery</h2>
		{% for i in delivery %}
			<p>Pedido {{i.0.order_id}}</p>
			{% for item in i%}
	      {% if item.complete == False %}
	        <div class="">
	            <div class="">
	              <p>Plato</p>
	              <p>{{item.product_id}}</p>
	              <p>{{item.product_name}}</p>
                <p>Quantidade</p>
                <p>{{item.quantity}}</p>
	            </div>
							<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="finish" class="add-btn update-order">Terminar</button>
	        </div>
	      {% endif %}
			{% endfor %}
		{% endfor %}
		<h2>Pedidos locales</h2>
		{% for i in local %}
			<p>Pedido {{i.0.order_id}}</p>
			{% for item in i%}
	      {% if item.complete == False %}
	        <div class="">
	            <div class="">
	              <p>Plato</p>
	              <p>{{item.product_id}}</p>
	              <p>{{item.product_name}}</p>
                <p>Quantidade</p>
                <p>{{item.quantity}}</p>
	            </div>
							<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="finish" class="add-btn update-order">Terminar</button>
	        </div>
	      {% endif %}
			{% endfor %}
		{% endfor %}
			<h2>Platos terminados<h2>
			<h4>Pedidos para delivery</h4>
			{% for i in delivery %}
				<p>Pedido {{i.0.order_id}}</p>
				{% for item in i%}
					{% if item.complete %}

							<div class="">
									<div class="">
										<p>Plato</p>
										<p>{{item.product_id}}</p>
										<p>{{item.product_name}}</p>
										<p>Quantidade</p>
										<p>{{item.quantity}}</p>
									</div>
									<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="return" class="add-btn update-order">Retorno</button>
							</div>
						{% endif %}
					{% endfor %}
			{% endfor %}
			<h4>Pedidos locales</h4>
			{% for i in local %}
			{% for item in i%}
				{% if item.complete %}

						<div class="">
								<div class="">
									<p>Plato</p>
									<p>{{item.product_id}}</p>
									<p>{{item.product_name}}</p>
								</div>
								<div class="">
									<p>Pedido</p>
									<p>{{item.order_id}}</p>
								</div>
								<div class="">
										<p>Quantidade</p>
										<p>{{item.quantity}}</p>
								</div>
								<button data-product="{{item.product_id}}" data-order="{{item.order_id}}" data-action="return" class="add-btn update-order">Retorno</button>
						</div>
					{% endif %}
			{% endfor %}
			{% endfor %}



	</div>

{% endblock content %}
