{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>{{restaurant.name}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
    	<nav>Navbar Placeholder</nav>

        <script>
          //get user
          let user = '{{request.user}}'
          //get restaurant
          let restaurant = '{{restaurant.name}}'
          //get token
          function getToken(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  let cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      let cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          let csrftoken = getToken('csrftoken')

        </script>
        <nav>
            {% if is_kitchen %}
            <a href="{% url 'kitchen' restaurant.name %}">Cocina</a>
            {% endif %}
        </nav>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript" src="{% static 'js/staff.js' %}"></script>
    </body>
</html>
