{% load static %}
<!DOCTYPE html>
<html>
    <head>
           <title>{{restaurant.name}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/staff.css' %}">
    </head>
    <body>
        <script>
          //get user
          let user = '{{request.user}}'
          //get restaurant
          let restaurant = '{{restaurant.name}}'


          //get token
          function getToken(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  let cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      let cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          let csrftoken = getToken('csrftoken')

        </script>
        <nav class="nav">
            {% if is_kitchen %}
            <a href="{% url 'kitchen' restaurant.name %}" class="nav-link"><img src="/static/images/admin/kitchen.png" alt="kitchen"></a>
            {% endif %}
            {% if is_weiter %}
            <a href="{% url 'weiter' restaurant.name %}" class="nav-link"><img src="/static/images/admin/delivery.png" alt="delivery"></a>
            <a href="{% url 'tables' restaurant.name %}" class="nav-link"><img src="/static/images/admin/local.png" alt="local"></a>
            {% endif %}
            {% if is_cashier %}
            <a href="{% url 'cashier' restaurant.name %}" class="nav-link"><img src="/static/images/admin/cashier.png" alt="cashier"></a>
            {% endif %}
            {% if is_owner %}
            <a href="{% url 'owner' restaurant.name %}" class="nav-link"><img src="/static/images/admin/owner.png" alt="cashier"></a>
            {% endif %}
        </nav>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        <script type="text/javascript" src="{% static 'js/staff.js' %}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="text/javascript">
        {% if message %}
        message = '{{message}}'
          Swal.fire(
            'Obs!',
            message,
            'warning'
          )
        {% endif %}
        </script>

    </body>
</html>
