{% extends 'staff/main.html' %}
{% load static %}

{% block content %}
  {% if is_weiter %}
    <h2>{{customer.name}}</h2>
    <a href="{% url 'weiter' restaurant.name %}">; Volver</a>
    {% for item in items %}
      <div>
        <p>{{item.name}}</p><button data-product="{{item.id}}" data-action="add" class="update-order">Pedir</button>
      </div>
    {% endfor %}
    {% for item in cartItems %}
      <p>{{item.product_name}}</p>

      {% if item.complete %}
        {% if item.delivered %}
        <p>Ya fue entregado</p>
        {% else %}
        <p>Cocina he terminado</p>
        {% endif %}
      {% else %}
        <p>No esta listo.</p>
        <div>
          <button type="button" name="remove" data-product="{{item.product_id}}" data-action="remove" class="update-order">-</button>
          <p>{{item.quantity}}</p>
          <button type="button" name="add" data-product="{{item.product_id}}" data-action="add" class="update-order">+</button>
        </div>
      {% endif %}
    {% endfor %}
    {% if shipping %}
      <p>Ciudad {{shipping.city}}, direccion {{shipping.address}}</p>
      <div class="">
        <p>Contacto</p>
        <p>Nombre: {{customer.name}}</p>
        <p>Email: {{customer.email}}</p>
        <p>Telefono: {{customer.phone}}</p>

      </div>
    <button data-product="{{cartItems.0.product_id}}" data-order="{{cartItems.0.order_id}}" data-mode="all" class="btn-delivered">Entregar pedido</button>
    {% endif %}
    <script type="text/javascript">
      let order = '{{cartItems.0.order_id}}'
    </script>
    <script type="text/javascript" src="{% static 'js/order.js' %}"></script>
  {% endif %}
{% endblock content %}
