{% extends 'staff/main.html' %}
{% load static %}

{% block content %}
  <h2>{{table}}</h2>
  <a href="{% url 'tables' restaurant.name %}">; Volver</a>
  {% for item in items %}
    <div>
      <p>{{item.name}}</p><button data-product="{{item.id}}" data-action="add" class="add-btn update-table">Pedir</button>
    </div>
  {% endfor %}
  {% for item in cartItems %}
    <div>
      <button type="button" name="remove" data-product="{{item.product_id}}" data-action="remove" class="update-table">-</button>
      <p>{{item.quantity}}</p>
      <button type="button" name="add" data-product="{{item.product_id}}" data-action="add" class="update-table">+</button>
    </div>
  {% endfor %}
  {% if cartItems %}
    <button id="make-payment">realizar pedido</button>
  {% endif %}

  {% for order in orders_closed %}
    {% for i in order %}
      <p>Numero del pedido {{i.order_id}}</p>
      <p>{{i.quantity}} {{i.product_name}}</p>
      {% if i.complete %}
        {% if i.delivered %}
        <p>Ya fue entregado</p>
        {% else %}
        <p>Cocina he terminado</p>
        {% endif %}
      {% else %}
        <p>No esta listo.</p>
      {% endif %}
      <hr>
    {% endfor %}
  {% endfor %}
  <script type="text/javascript">
    let table = '{{table}}'
    console.log(table)
  </script>
  <script type="text/javascript" src="{% static 'js/table.js' %}"></script>
{% endblock content %}

{'product_id': 3, 'order_id': '1', 'complete': False, 'quantity': 1, 'product_name': 'Xis Bacon', 'delivered': False}
