{% extends 'staff/main.html' %}
{% load static %}
{% block content %}
<section id="delivery">
	<div class="delivery-list">
		{% for order in info %}

			<div class="delivery-list-card">
				{% if order.is_finished %} <div class="finish"> {% endif %}

					<div class="delivery-list-card-info">
						<p>Direccion:</p>
						<p class="delivery-list-card-info-address">{{order.get_order_info.0.shipping.address}}, {{order.get_order_info.0.shipping.city}}</p>
						<p>Numero de pedido {{order.transaction_id}}</p>
					</div>
					{% for i in order.get_items %}
						<div class="delivery-list-card-item">
							<p>{{i.product_name}}</p>
							<p>Cantitad {{i.quantity}}</p>
							<p>Listo para entrega:
								{% if i.complete%}
								si
									{% if i.delivered%}
									y	entregue
									{% else %}
										<button data-product="{{i.product_id}}" data-order="{{i.order_id}}" data-mode="item" class="btn-delivered">Entregar item</button>
									{% endif %}
								{% endif %}
								{% if i.complete == False%}
								no
								{% endif %}
							</p>
						</div>
					{% endfor %}
					<div class="delivery-list-card-info">
						<p>Nombre de cliente: {{order.get_order_info.1.customer.name}}</p>
						<p>Contacto: Whats App: 0{{order.get_order_info.1.customer.phone}}, email:{{order.get_order_info.1.customer.email}}</p>
						<a href="https://wa.me/598{{order.get_order_info.1.customer.phone}}">Link Whats App</a>
					</div>
					<a href="{% url 'orderDetail' restaurant.name order.transaction_id %}" class="delivery-list-card-detail">Detalles del pedido</a>

				{% if order.is_finished %} </div> {% endif %}
			</div>
		{% endfor %}
	</div>
</section>
{% endblock content %}
